<!-- 采购请购单 -->
{include file="public/header"/}

{include file="public/menu"/}

<div class="layui-body" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div style="padding-bottom: 10px;">
        <h3>采购请购单</h3>
    </div>
    <div class="demoTable">
        <div class="layui-inline">
          <input class="layui-input" placeholder="搜索..." name="id" id="demoReload" autocomplete="off" style="width: 240px">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>

        <div class="layui-inline" style="padding-left: 20px ">
            <input type="text" class="layui-input startTime" placeholder="开始时间">
        </div>
        <div class="layui-inline">
            <input type="text" class="layui-input endTime" placeholder="结束时间">
        </div>
        

        <button class="layui-btn" style="float: right;">
            <i class="layui-icon">&#xe608;</i> 创建
        </button>
          
    </div>

    <table class="layui-hide" id="test"></table>
</div>
{include file="public/footer"/}

<script>
    layui.use('table', function(){
      var table = layui.table;
      
      table.render({
        elem: '#test'
        ,url:'https://www.layui.com/demo/table/user/'
        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,cols: [[
          {field:'id', width:80, title: 'ID', sort: true}
          ,{field:'username', title: '拟采购物品名称(车牌)'}
          ,{field:'sex', width:80, title: '规格',}
          ,{field:'city', width:80, title: '单位'}
          ,{field:'sign', title: '数量', width: 80} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
          ,{field:'experience', title: '单件估价(元)',width:120, sort: true}
          ,{field:'score', title: '用途'}
          ,{field:'classify', title: '备注'}
          ,{field:'wealth', width:137, title: '需求日期', sort: true}
        ]]
      });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
            elem: '.startTime' //指定元素
        });
        laydate.render({
            elem: '.endTime' //指定元素
        });
    });
    </script>
