<!-- 采购请购单 -->
{include file="public/public"/}
<div class="" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div style="padding-bottom: 10px;">
        <h3>采购请购单数据</h3>
    </div>

    <table class="layui-hide" id="purchase_requisition_items_data" lay-filter="purchase_requisition_items_data"></table>
    <h6>注：点击数据即可编辑。</h6>
</div>

<script>
    layui.use('table', function(){
      var table = layui.table;
      var $ = layui.$;
      
      table.render({
        elem: '#purchase_requisition_items_data'
        ,url: domain + '/purchase_requisition_items_data?preId='+ {$preId} //数据接口
        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,totalRow: true
        ,toolbar: true
        ,title: '请购单数据'
        ,cols: [[
          {field:'index', width:80, title: '序号', sort: true,totalRowText: '合计：'}
          ,{field:'name', title: '拟采购物品名称(车牌)',minWidth:150, edit:'text'}
          ,{field:'spec', width:80, title: '规格', edit:'text'}
          ,{field:'unit', width:80, title: '单位', edit:'text'}
          ,{field:'qty', title: '数量', width: 80,totalRow: true, edit:'text'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
          ,{field:'price', title: '单件估价(元)',width:120, sort: true,totalRow: true, edit:'text'}
          ,{field:'amount', title: '预算总价(元)',width:120, sort: true,totalRow: true, edit:'text'}
          ,{field:'use', title: '用途',minWidth:150, edit:'text'}
          ,{field:'remarks', title: '备注',minWidth:150, edit:'text'}
          ,{field:'needtime', width:137, title: '需求日期', sort: true, edit:'text'}
        ]]
      });

      // 数据重载
      var tableReload = function(params={}) {
          table.reload('purchase_requisition_items_data', {
              where: params
              ,page: {
                  curr: 1
              }
          });
      }

      // 编辑
      table.on('edit(purchase_requisition_items_data)', function(obj){
          var value = obj.value //得到修改后的值
          ,data = obj.data //得到所在行所有键值
          ,field = obj.field; //得到字段

          var json = {};
          json[field] = value;
          json['id'] = data.id;
          $.ajax({
            type:'put',
            dataType:'json',
            url: domain + '/purchase_requisition_items_edit',
            data:json,
            success:function(res){
                if (res.code == 0) {
                    layer.msg(res.msg, {icon:1,time:1000}, function(){
                        tableReload();
                    });
                } else {
                    layer.msg(res.msg, {icon:0});
                }
            }
          });
      });

    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
            elem: '.startTime' //指定元素
        });
        laydate.render({
            elem: '.endTime' //指定元素
        });
    });
    </script>
