<!-- 采购请购单 -->
{include file="public/public"/}
<div class="" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div style="padding-bottom: 10px;">
        <h3>采购请购单数据</h3>
    </div>

    <table class="layui-hide" id="test"></table>
</div>

<script>
    layui.use('table', function(){
      var table = layui.table;
      
      table.render({
        elem: '#test'
        ,url: domain + '/purchase_requisition_items_data?preId='+ {$preId} //数据接口
        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,totalRow: true
        ,cols: [[
          {field:'index', width:80, title: '序号', sort: true,totalRowText: '合计：'}
          ,{field:'name', title: '拟采购物品名称(车牌)',minWidth:150}
          ,{field:'spec', width:80, title: '规格',}
          ,{field:'unit', width:80, title: '单位'}
          ,{field:'qty', title: '数量', width: 80,totalRow: true} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
          ,{field:'price', title: '单件估价(元)',width:120, sort: true,totalRow: true}
          ,{field:'amount', title: '预算总价(元)',width:120, sort: true,totalRow: true}
          ,{field:'use', title: '用途',minWidth:150}
          ,{field:'remarks', title: '备注',minWidth:150}
          ,{field:'needtime', width:137, title: '需求日期', sort: true}
        ]]
      });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
            elem: '.startTime' //指定元素
        });
        laydate.render({
            elem: '.endTime' //指定元素
        });
    });
    </script>
