<!-- 采购请购单创建数据 -->
{include file="public/header"/}

{include file="public/menu"/}

<div class="layui-body" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div>
        <span class="layui-breadcrumb">
          <a href="/">首页</a>
          <a href="/purchase_requisition">请购单</a>
          <a><cite>创建请购单数据</cite></a>
        </span>
    </div>
    <hr class="layui-bg-gray">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">上传数据</li>
        <li>手动创建数据</li>
      </ul>

      <div class="layui-tab-content">
        <!-- 上传数据 -->
        <div class="layui-tab-item layui-show">
          <blockquote class="layui-elem-quote">只允许上传的文件格式为xls、xlsx、pdf。上传模版：{$template}</blockquote>
          <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
            <div class="layui-upload-list">
                <table class="layui-table">
                <thead>
                    <tr><th>文件名</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr></thead>
                <tbody id="demoList"></tbody>
                </table>
            </div>
            <button type="button" class="layui-btn" id="testListAction">开始上传</button>
          </div>
        </div>

        <!-- 手动创建数据 -->
        <div class="layui-tab-item">
            <form class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">请购单编号：</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请购单编号" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">请购单数据：</label>
                <div class="">
                    <table class="layui-table" style="margin-left:130px;width:82%">
                      <thead>
                        <tr>
                          <th style="width:160px">拟采购物品名称(车牌)</th>
                          <th style="width:50px">规格</th>
                          <th style="width:50px">单位</th>
                          <th style="width:50px">数量</th>
                          <th style="width:100px">单件估价(元)</th>
                          <th style="width:100px">预算总价(元)</th>
                          <th style="width:250px">用途</th>
                          <th style="width:140px">需求日期</th>
                          <th>备注</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="text" name="name" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="spec" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="unit" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="qty" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="price" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="amount" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="use" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="needtime" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                          <td><input type="text" name="remarks" required lay-verify="required" autocomplete="off"  class="layui-input"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>


              <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                  <input type="text" name="remarks" lay-verify="title" autocomplete="off" placeholder="备注" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit="" lay-filter="demo1">确认保存</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>

            </form>
        </div>
      </div>
    </div> 
</div>
{include file="public/footer"/}

<script>
layui.use(['upload','form'], function(){
  var $ = layui.jquery
  ,upload = layui.upload
  ,form = layui.form;
  
  //多文件列表示例
  var demoListView = $('#demoList')
  ,uploadListIns = upload.render({
    elem: '#testList'
    ,url: '/purchase_operate_upload'
    ,accept: 'file'
    ,exts: 'xls|xlsx|pdf' //只允许excel、pdf
    ,multiple: true
    ,auto: false
    ,bindAction: '#testListAction'
    ,choose: function(obj){   
      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
      //读取本地文件
      obj.preview(function(index, file, result){
        var tr = $(['<tr id="upload-'+ index +'">'
          ,'<td>'+ file.name +'</td>'
          ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
          ,'<td>等待上传</td>'
          ,'<td>'
            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
          ,'</td>'
        ,'</tr>'].join(''));
        
        //单个重传
        tr.find('.demo-reload').on('click', function(){
          obj.upload(index, file);
        });
        
        //删除
        tr.find('.demo-delete').on('click', function(){
          delete files[index]; //删除对应的文件
          tr.remove();
          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
        });
        
        demoListView.append(tr);
      });
    }
    ,done: function(res, index, upload){
      if(res.code == 0){ //上传成功
        var tr = demoListView.find('tr#upload-'+ index)
        ,tds = tr.children();
        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
        tds.eq(3).html(''); //清空操作
        return delete this.files[index]; //删除文件队列已经上传成功的文件
      }
      this.error(index, upload);
    }
    ,error: function(index, upload){
      var tr = demoListView.find('tr#upload-'+ index)
      ,tds = tr.children();
      tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
      tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
    }
  });
  
});
</script>
