<!-- 采购请购单 -->
{include file="public/header"/}

{include file="public/menu"/}

<div class="layui-body" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div>
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>请购单</cite></a>
        </span>
    </div>

    <hr class="layui-bg-gray">
    
    <div class="demoTable">
        <div class="layui-inline">
          <input class="layui-input" placeholder="搜索..." name="search" id="searchValue" autocomplete="off" style="width: 240px">
        </div>
        <button class="layui-btn" data-type="reload" id="search">搜索</button>

        <div class="layui-inline" style="padding-left: 20px ">
            <input type="text" class="layui-input startTime" placeholder="开始时间">
        </div>
        <div class="layui-inline">
            <input type="text" class="layui-input endTime" placeholder="结束时间">
        </div>
        
        <button class="layui-btn" style="float: right;">
            <a href="/purchase_operate"><i class="layui-icon">&#xe608;</i> 创建</a>
        </button>
           
    </div>

    <table class="layui-table" id="purchase_requisition_data" lay-filter="purchase_requisition_data"></table>
    <h6 style="color:#FF5722">注：查看数据内容可编辑、导出、打印。</h6>

    <script type="text/html" id="operateBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-search"></i>查看</a>
        <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="uploadpdf"><i class="layui-icon layui-icon-upload"></i>上传扫描件</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
    </script>

</div>
{include file="public/footer"/}

<script>
    layui.use(['table', 'laydate'], function(){
        var table = layui.table;
        var laydate = layui.laydate;
        // 请购单数据
        table.render({
            elem: '#purchase_requisition_data'
            ,url: domain + '/purchase_requisition_data' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
            {field:  'index', title: '序号', width:80, sort: true, fixed: 'left'}
            ,{field:  'title', title: '标题(可编辑)', width:190, edit: 'text'}
            ,{field: 'purchase_code', title: '请购单编号(可编辑)', width:160, edit: 'text'}
            // ,{field: 'filepath', title: '原文件名',minWidth:250}
            ,{field: 'pdfpath', title: '扫描件',minWidth:200}
            ,{field: 'remarks', title: '备注(可编辑)', edit: 'text', minWidth:150} 
            ,{field: 'addtime', title: '创建日期', width: 178,minWidth:100,sort: true}
            ,{title: '操作', fixed: 'right', align:'center',minWidth:228, toolbar: '#operateBar'}
            ]]
        });

        // 数据重载
        var tableReload = function(params={}) {
            table.reload('purchase_requisition_data', {
                where: params
                ,page: {
                    curr: 1
                }
            });
        }

        // 查看、删除
        table.on('tool(purchase_requisition_data)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.open({
                    type: 2, //类型，解析url
                    closeBtn: 1, //关闭按钮是否显示 1显示0不显示
                    title: '', //页面标题
                    shade: 0.6,  //遮罩透明度
                    area: ['85%', '75%'],  //弹出层页面比例
                    content: '/purchase_requisition_items?preId='+data.id //弹出层的url
                });
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type:'delete',
                        dataType:'json',
                        url: domain + '/purchase_requisition_del',
                        data:{pid:data.id},
                        success:function(res){
                            if (res.code == 0) {
                                obj.del();
                                layer.msg(res.msg, {icon:1,time:1000}, function(){
                                    tableReload();
                                });
                            } else {
                                layer.msg(res.msg, {icon:0});
                            }
                            layer.close(index);
                        }
                    });
                    
                });
            } else if (obj.event === 'uploadpdf') {
                layer.open({
                    type: 2, //类型，解析url
                    closeBtn: 1, //关闭按钮是否显示 1显示0不显示
                    title: '', //页面标题
                    shade: 0.6,  //遮罩透明度
                    area: ['40%', '35%'],  //弹出层页面比例
                    content: '/purchase_requisition_pdf?preId='+data.id //弹出层的url
                });
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
            var checkStatus = table.checkStatus('idTest')
            ,data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
            var checkStatus = table.checkStatus('idTest')
            ,data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
            var checkStatus = table.checkStatus('idTest');
            layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        // 编辑
        table.on('edit(purchase_requisition_data)', function(obj){
            var value = obj.value //得到修改后的值
            ,data = obj.data //得到所在行所有键值
            ,field = obj.field; //得到字段
            $.ajax({
                type:'put',
                dataType:'json',
                url: domain + '/purchase_requisition_edit',
                data:{pid:data.id, purchase_code:value, remarks:data.remarks,title:data.title},
                success:function(res){
                    if (res.code == 0) {
                        layer.msg(res.msg, {icon:1,time:1000}, function(){
                            tableReload();
                        });
                    } else {
                        layer.msg(res.msg, {icon:0});
                    }
                }
            });
        });

        $('.demoTable #search').on('click', function(){
            var search = $('#searchValue').val();
            tableReload({'search': search});
        });

        // enter
        $("body").keydown(function() {
            if (event.keyCode == "13") {
                $('.demoTable #search').click();
            }
        });

        // 时间
        laydate.render({
            elem: '.startTime', //指定元素
            type: 'datetime',
            done: function(value, date, endDate){
                tableReload({'startTime': value});
            }
        });
        laydate.render({
            elem: '.endTime', //指定元素
            type: 'datetime',
            done: function(value, date, endDate){
                tableReload({'endTime': value});
            }
        });
    });
</script>
