<!-- 车辆用油情况 -->
{include file="public/header"/}

{include file="public/menu"/}

<div class="layui-body" style="padding: 10px;"> 
    <!-- 内容主体区域 -->
    <div>
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>车辆用油情况</cite></a>
        </span>
    </div>

    <hr class="layui-bg-gray">

    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" placeholder="搜索..." name="search" id="searchValue" autocomplete="off" style="width: 240px">
        </div>
        <button class="layui-btn" data-type="reload" id="search">搜索</button>

        <div class="layui-inline" style="padding-left: 20px ">
            <input type="text" class="layui-input startTime" placeholder="月份">
        </div>
        
        <button class="layui-btn" style="float: right;">
            <a href="/caroil_add"><i class="layui-icon">&#xe608;</i> 创建</a>
        </button>
    </div>

    <okToolbar>
        <button class="layui-btn" id="export" style="margin-top:10px;">
            <i class="iconfont icon-export"></i> 导出
        </button>
    </okToolbar>

    <table class="layui-table" id="caroil_data" lay-filter="caroil_data"></table>
    <h6 style="color:#FF5722">注：点击数据内容可编辑。</h6>

    <script type="text/html" id="operateBar">
        <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-search"></i>查看</a> -->
        <!-- <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="uploadpdf"><i class="layui-icon layui-icon-upload"></i>上传扫描件</a> -->
        <a class="layui-btn layui-btn-danger layui-btn-xs" id="delItem" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
    </script>

</div>

{include file="public/footer"/}

<script>
    layui.use(['table', 'laydate'], function(){
        var table = layui.table;
        var laydate = layui.laydate;
        var $ = layui.$;

        // 月份
        var date = new Date;
        var year = date.getFullYear(); 
        var month = date.getMonth()+1;
        var month = $('#searchValue').val() != '' ?$('#searchValue').val():year+'年'+month+'月';
        // 请购单数据
        var ins1 = table.render({
            elem: '#caroil_data'
            ,url: domain + '/caroil_data' //数据接口
            ,page: true //开启分页
            ,title: month+'用油明细表'
            ,cols: [[ //表头
            {field:  'index', title: '序号', width:80, sort: true, fixed: 'left'}
            ,{field: 'caroil_number', title: '油卡号', edit: 'text'}
            ,{field: 'car_number', title: '车牌号',edit: 'text', sort: true}
            ,{field: 'user', title: '使用区域',edit: 'text'} 
            ,{field: 'oil_add_time', title: '时间(月份)',edit:'text', sort: true}
            ,{field: 'oil_amount', title: '用油总金额',edit:'text', sort: true}
            ,{field: 'addtime', title: '添加时间'}
            ,{title: '操作', fixed: 'right',align:'center', toolbar: '#operateBar'}
            ]],
            done: function (res, curr, count) {
                exportData=res.data;
            }
        });

        // 导出
        $("#export").click(function(){
	       	table.exportFile(ins1.config.id,exportData, 'xls');
        })

        // 数据重载
        var tableReload = function(params={}) {
            table.reload('caroil_data', {
                where: params
                ,page: {
                    curr: 1
                }
            });
        }

        var $ = layui.$;

        // 编辑
        table.on('edit(caroil_data)', function(obj){
            var value = obj.value //得到修改后的值
           ,data = obj.data //得到所在行所有键值
           ,field = obj.field; //得到字段

           var json = {};
           json[field] = value;
           json['id'] = data.id;
            $.ajax({
                type:'put',
                dataType:'json',
                url: domain + '/caroil_edit',
                data:json,
                success:function(res){
                    if (res.code == 0) {
                        layer.msg(res.msg, {icon:1,time:1000}, function(){
                            tableReload();
                        });
                    } else {
                        layer.msg(res.msg, {icon:0});
                    }
                }
            });
        });

        // 删除
        table.on('tool(caroil_data)', function(obj){
            layer.confirm('真的删除行么', function(index){
                obj.del();
                layer.close(index);
                $.ajax({
                    type:'delete',
                    dataType:'json',
                    url: domain + '/caroil_del_data',
                    data:{id:obj.data.id},
                    success:function(res){
                        if (res.code == 0) {
                            table.reload('caroil_data',{
                                data : {}
                            });
                        }
                    }
                });
            });

        });

        $('.demoTable #search').on('click', function(){
            var search = $('#searchValue').val();
            tableReload({'search': search});
        });

        // enter
        $("body").keydown(function() {
            if (event.keyCode == "13") {
                $('.demoTable #search').click();
            }
        });

        // 时间
        laydate.render({
            elem: '.startTime', //指定元素
            type: 'month',
            done: function(value, date, endDate){
                tableReload({'startTime': value});
            }
        });
        laydate.render({
            elem: '.endTime', //指定元素
            type: 'datetime',
            done: function(value, date, endDate){
                tableReload({'endTime': value});
            }
        });
    });
</script>