<!-- 公共底部文件 -->
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © DAFS - <span id='year'></span>
  </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
    var element = layui.element;
    
    });
    var myDate = new Date();
    document.getElementById('year').innerHTML = myDate.getFullYear();
</script>
<!-- <script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    })();
</script> -->
</body>
</html>