<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>.layui-body>div>button>a{color: white}</style>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
          
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;"><i class="fa fa-shopping-cart"></i> 采购管理</a>
          <dl class="layui-nav-child">
            {if condition="($nav == 'purchase_requisition_view' or $nav == 'purchase_requisition_add_view' or $nav == 'purchase_requisition_items_view') "}
                <dd><a href="/purchase_requisition" class="layui-this">请购单</a></dd>
            {else /}
                <dd><a href="/purchase_requisition">请购单</a></dd>
            {/if}

            {if condition="($nav == 'purchase_view' or $nav == 'purchase_add_view') "}
                <dd><a href="/purchase" class="layui-this">采购单</a></dd>
            {else /}
                <dd><a href="/purchase">采购单</a></dd>
            {/if}
            
            {if condition="($nav == 'purchase_expense_view' or $nav == 'purchase_expense_add' or $nav == 'purchase_expense_items_view') "}
                <dd><a href="/purchase_expense" class="layui-this">采购报销单</a></dd>
            {else /}
                <dd><a href="/purchase_expense">采购报销单</a></dd>
            {/if}
          </dl>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="fa fa-home"></i> 仓库管理</a>
          <dl class="layui-nav-child">
              {if condition="($nav == 'inwarehouse_view' or $nav == 'inwarehouse_add' or $nav == 'inwarehouse_items_view') "}
                  <dd><a href="/inwarehouse" class="layui-this">入库</a></dd>
              {else /}
                  <dd><a href="/inwarehouse">入库</a></dd>
              {/if}

              {if condition="($nav == 'outwarehouse_view' or $nav == 'outwarehouse_add' or $nav == 'outwarehouse_items_view') "}
                  <dd><a href="javascript:;" class="layui-this">出库</a></dd>
              {else /}
                  <dd><a href="javascript:;">出库</a></dd>
              {/if}
          </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="fa fa-car"></i> 车辆管理</a>
            <dl class="layui-nav-child">
                    <dd><a href="javascript:;">车辆维修</a></dd>
                    <dd><a href="javascript:;">车辆油卡分配</a></dd>
                    <dd><a href="javascript:;">车辆用油情况</a></dd>
                    <dd><a href="javascript:;">发电机油卡充值</a></dd>
                    <dd><a href="javascript:;">发电机用油情况</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="fa fa-database"></i> 基础数据</a>
            <dl class="layui-nav-child">
                <!-- <dd><a href="javascript:;">xx</a></dd> -->

            </dl>
        </li>

      </ul>
    </div>
  </div>